@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

* {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
}

$resultPrimaryColor: #fff;
$reactionBG: rgba(255, 87, 87, 0.2);
$memoryBG: rgba(255, 176, 31, 0.2);
$verbalBG: rgba(0, 189, 145, 0.2);
$visualBG: rgba(17, 37, 212, 0.2);
$summarySecondaryColor: gray;

body {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -100vh;
        animation: slideDown 1.5s ease-in-out forwards;

        .result-container {
            width: 100%;
            background: rgb(46, 43, 233);
            background: linear-gradient(0deg, rgba(46, 43, 233, 1) 32%, rgba(120, 87, 255, 1) 82%);
            color: $resultPrimaryColor;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1vh;
            padding: 3rem;

            border-bottom-left-radius: 3rem;
            border-bottom-right-radius: 3rem;

            .result {
                font-size: 2rem;
            }
            .result-circle {
                width: 10rem;
                height: 10rem;
                border-radius: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                background: rgb(46, 43, 233);
                background: linear-gradient(0deg, rgba(120, 87, 255, 0.2) 0%, rgba(46, 43, 233, 1) 35%);

                #score {
                    font-size: 2.5rem;
                    font-weight: 800;
                }
                .out-of {
                    font-size: 1.2rem;
                    font-weight: 500;
                }
            }
            #result-text {
                font-size: 2.2rem;
            }
            .result-text-phare {
                font-size: 1.8rem;
                margin-top: -1rem;
                text-align: center;
            }
        }
        .summary {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: left;
            padding: 2rem;
            gap: 1vh;

            .summary-title {
                font-size: 2rem;
                font-weight: 700;
            }

            div {
                padding: 1.2vh;
                border-radius: 0.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .summary-pts {
                font-size: 1.4rem;
                span:last-child {
                    color: $summarySecondaryColor;
                }
            }
            .summary-reaction {
                background-color: $reactionBG;
                img {
                    padding-right: 1rem;
                }

                span {
                    font-size: 1.4rem;
                }
            }

            .summary-memory {
                background-color: $memoryBG;

                img {
                    padding-right: 1rem;
                }

                span {
                    font-size: 1.4rem;
                }
            }

            .summary-verbal {
                background-color: $verbalBG;

                img {
                    padding-right: 1rem;
                }

                span {
                    font-size: 1.4rem;
                }
            }

            .summary-visual {
                background-color: $visualBG;

                img {
                    padding-right: 1rem;
                }

                span {
                    font-size: 1.4rem;
                }
            }

            #summary-btn-continue {
                font-size: 1.6rem;
                padding: 1.5rem;
                margin-top: 0.5rem;
                background-color: hsl(224, 30%, 27%);
                color: $resultPrimaryColor;

                //border
                border: none;
                border-radius: 5rem;
                transition: 1s;
                transition: background-color 1.5s;
                cursor: pointer;
            }
            #summary-btn-continue:hover {
                background: rgba(36, 33, 202, 0.5);
                background: linear-gradient(0deg, rgba(36, 33, 202, 1) 0%, rgba(78, 33, 202, 1) 56%);
            }
        }
    }
}

@keyframes slideDown {
    0% {
        margin-top: -100vh;
    }
    100% {
        margin-top: 0;
    }
}

@media screen and (min-width: 1024px) {
    body {
        width: 100vw;
        height: 100vh;

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        main {
            width: 60%;
            flex-direction: row;
            border-radius: 3rem;
            box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.1);
            margin-top: 0;
            margin-left: -200vw;
            animation: slideLeft 1s ease-in-out forwards;

            .result-container {
                width: 100%;
                height: 100%;
                border-radius: 3rem;
            }
            .summary {
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    body {
        main {
            width: 32%;

            .result-container {
                width: 100%;
                height: 100%;
                border-radius: 3rem;

                .result-circle {
                    width: 20rem;
                    height: 20rem;

                    #score {
                        font-size: 5rem;
                        font-weight: 800;
                    }
                    .out-of {
                        font-size: 2rem;
                        font-weight: 500;
                    }
                }
                #result-text {
                    font-size: 3rem;
                }
                .result-text-phare {
                    font-size: 1.8rem;
                }
            }
            .summary {
            }
        }
    }
}


@keyframes slideLeft {
    0% {
        margin-left: -100vw;
    }
    100% {
        margin-left: 0vw;
    }
}